header {
    background-color: rgb(0, 0, 97);
}

.log {
    width: 50px;
    height: 50px;
}

ul {
    gap: 10%;
    display: flex;
    list-style-type: none;
}
li{
    text-align: center;
}
li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    text-align: justify;
}
h2, h4{
    text-align: center;
}
.h2_p{
    text-align: center;
}